*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#Container{
    height: 562px;
    width: 562px;
    display: flex;
    flex-wrap: wrap;
    border: black solid 1px;

}

.sqr{
    border:white solid 1px;
}

.opa20 { opacity: 0.2; }
.opa40 { opacity: 0.4; }
.opa60 { opacity: 0.6; }
.opa80 { opacity: 0.8; }
.opa100 { opacity: 1.0; }

.gbx{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
button{
    width: 100px;
    height: auto;
    font-size: 20px;
    border: black solid 1px;
    border-radius: 32px;
    cursor: pointer;
}
