*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-right: 100PX;
    gap: 300px;
}

.left{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 300px;
    height: 100vh;
    background-color:#80118a;
    color: white;
}
.etch{
    gap: 50px;
    display: flex;
    flex-direction: column;
}
.gbx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Container{
    height: 562px;
    width: 562px;
    display: flex;
    flex-wrap: wrap;
    border: #80118a solid 1px;

}

.sqr{
    border:white solid 1px;
}

.opa20 { opacity: 0.2; }
.opa40 { opacity: 0.4; }
.opa60 { opacity: 0.6; }
.opa80 { opacity: 0.8; }
.opa100 { opacity: 1.0; }

.gbx{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
button{
    width: 150px;
    padding: 20px;
    height: auto;
    font-size: 20px;
    /* border: black solid 1px; */
    border-radius: 32px;
    cursor: pointer;
    background-color: #80118a;
    color: white;
}
